#habilidades {
    background-color: #000;
    margin-bottom: 80px;
}

.habilidades-pd {
    padding-top: 93px;
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 90px;
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.habilidades-pd h2 span{
    color: #00FF08;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 38%;
}

.skill-box {
    height: 106px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.skill-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.conteiner-descricao {
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    /* min-width: 40%;
    max-width: 45%; */
    width: 45%;
}

.texto-descricao{
    color: green;
}

@media (max-width:1200px) {

    .conteiner-descricao {
        height: 200px;
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
        margin-bottom: 140px;
    }

}

.skill-box .icones-habilidades {
    transition: ease-in-out 0.3s;
}

.skill-box:hover .icones-habilidades {
    opacity: 0;
}

.skill1{
    background-image: url(/images/html2.svg);
}

.skill2 {
    background-image: url(/images/css2.svg);
}

.skill3 {
    background-image: url(/images/js2.svg);
}

.skill4 {
    background-image: url(/images/node2.svg);
}

.skill5 {
    background-image: url(/images/php2.svg);
}

.skill6 {
    background-image: url(/images/java2.svg);
}

.skill7 {
    background-image: url(/images/react2.svg);
}

.skill8 {
    background-image: url(/images/sql2.svg);
}

.skill9 {
    background-image: url(/images/git2.svg);
}


.skill10 {
    background-image: url(/images/github2.svg);
}

.skill11 {
    background-image: url(/images/python2.svg);
}

.skill12 {
    background-image: url(/images/typescript2.svg);
}

.skill13 {
    background-image: url(/images/sass2.svg);
}

#fundo {
    fill: red;
}

