#projetos {
    background-color: #000;
}

.bikelock {
    background-image: url(https://cdn.discordapp.com/attachments/1130531324290138163/1158154608548519966/image.png);
    background-size: cover;
}

.react-rotas{
    background-image: url(https://cdn.discordapp.com/attachments/1130531324290138163/1158162051500343347/image.png);
    background-size: cover;
}

.jogoDaVelha{
    background-image: url(https://cdn.discordapp.com/attachments/1130531324290138163/1158164865270153296/image.png);
    background-size: cover; 
}

.livrariaJava{
    background-image: url(https://cdn.discordapp.com/attachments/1130531324290138163/1158171771728576592/image.png);
    background-size: cover; 
}

.fornecedoresSQL{
    background-image: url(https://cdn.discordapp.com/attachments/1130531324290138163/1158173825075269663/image.png);
    background-size: cover; 
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    margin-bottom: 130px;
}



.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    color: #fff;
    font-size: 42px;
    padding-bottom: 70px;
}

.cx-link{
    display: flex;
    flex-direction: column;
}

.rep-link{
    color: #00FF08;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.rep-link:hover{
    color: #0b8b0f;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos .link-projeto {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #705656;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 60%;
    justify-content: center;
}

@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos-itens {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}